# Node
node_modules/
dist/
dist-ssr/
*.local

# Java
target/
!backend/.mvn/wrapper/maven-wrapper.properties
!backend/.mvn/wrapper/maven-wrapper.jar

# Go
backend/main
backend/bin/

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files
.DS_Store
Thumbs.db
